@import url('https://fonts.googleapis.com/css?family=Raleway:400|Lato:300');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    --background: #f5f5f5;
    --contrast: black;
    --component: white;
    --hover: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Raleway';
    font-weight: 400;
}

body {
    background: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#gameCanvas {
    cursor: pointer;
    margin-top: 10vh;
}

#turnIndicator {
    margin-top: 3vh;
    font-size: 2vh;
    display: block;
    color: var(--contrast);
}

#restartButton {
    display: block;
    width: 10vw;
    height: 5vh;
    margin-top: 4vh;
    font-size: 2vh;
    background: var(--component);
    border: 1px solid var(--contrast);
    border-radius: 5px;
    cursor: pointer;
    display: none;
    color: var(--contrast);
}

#restartButton:hover {
    transition: 0.5s;
    background: var(--hover);
}

#resultText {
    margin-top: 3vh;
    font-size: 4vh;
    display: none;
    color: var(--contrast);
}

#switchTheme {
    position: absolute;
    top: 1.5vh;
    right: 1vw;
    width: 4vw;
    height: 2vw;
    border-radius: 2vh;
    cursor: pointer;
    background: var(--component);
    border: solid 1px var(--contrast);
    box-sizing: content-box;
}

#switchTheme div {
    position: absolute;
    left: -1px;
    top: 0;
    background: var(--background);
    width: 2vw;
    height: 2vw;
    border-radius: 2vh;
    transition: 0.3s left;
    border: 1px solid var(--contrast);
    display: flex;
    justify-content: center;
    align-items: center;
}

#switchTheme div i {
    color: var(--contrast);
    font-size: 2vh;
}

#switchTheme.right div {
    left: calc(2vw + 1px);
}